@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.nav{
    &__a--button{
        padding: .6rem .8rem;
        border: 1px solid vars.$gray;
        border-radius: .7rem;
        transition: .4s;

        &:hover{
            border: 1px solid vars.$black;
        }
    }

    &__li--down{
        &:hover .nav__dropdown{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    &__li--drop{
        margin: .2rem 0;
    }

    &__a--drop{
        font-size: .74rem;
    }

    &__icon--drop{
        width: .6rem;
        margin-right: .7rem;
    }
}