@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

.home{
    width: 100vw;
    height: 100vh;
    @include mixin.flex(space-between, center, row);
    padding: 0rem 8rem 2rem 8rem;
    
    &__h1{
        font-size: 3.5rem;
        text-align: start;
        font-weight: 700;
        margin-top: 5rem;
    }
    &__div{
        padding: 0 2rem;
    }

    &__figure{
        margin-left: 4rem;
    }

    &__p{
        color: vars.$gray;
        font-size: .9rem;
        margin-top: 2rem;
        padding-right: 7.8rem;
        font-weight: 500;
    }

    &__icon{
        width: 5rem;

        &:not(:first-child){
            margin-left: 1rem;
        }

        &:nth-child(2){
            width: 3rem;
        }
    }

    &__button{
        margin-top: 2rem;
        background-color: vars.$black;
        color: vars.$white;
        border-radius: .8rem;
        padding: .9rem .8rem;
        font-size: .8rem;
        text-align: center;
        width: 8rem;
        font-weight: 500;
    }

    &__logos{
        width: 100%;
        @include mixin.flex(space-evenly, center, row);
        margin-top: 5rem;
    }

    &__img{
        width: 23rem;
        margin: 0 0 2rem 3rem;
    }
}